@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2b283a;
  font-family: 'Karla', sans-serif;
}
.title {
  font-weight: 700;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 13.1072px;
  font-family: 'Inter', sans-serif;
  line-height: 16px;
  color: #4a4e74;
  margin-top: 5px;
}

.board {
  height: 379px;
  width: 360px;
  display: flex;
  align-items: center;
  background-color: #0b2434;
  padding: 20px;
}

.play-board {
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  padding: 33px;
}

.dice-container {
  gap: 18px;
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  margin-block: 26px;
}

.dice {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
  font-size: 20.5889px;
  font-weight: 700;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button {
  all: unset;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  font-weight: 700;
  color: #ffffff;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  padding: 6.4px 21.12px;
  /* width: 70px; */
  transition: all 0.4s;
  cursor: pointer;
}

.button:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

/* .green {
  background-color: #59e391;
} */

.wiggle {
  animation: shake 0.5s;
  animation-iteration-count: 5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
